<form name="container-form" class="mt-4" method="post" action="/courses/handle-form-actions">
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses"><h5>Danh sách khóa học</h5></a>
    <div class="mt-4 d-flex align-items-center">
        <select class="form-select form-control-sm form-control checkbox-select-all" name="action" required>
            <option value="">--Hành động--</option>
            <option value="restore">Khôi Phục</option>
            <option value="forceDelete">Xóa Vĩnh Viễn</option>
        </select>
        <button class="btn btn-primary btn-sm btn-acction" disabled>Thực hiện</button>
    </div>

    <table class="table mt-4">
        {{#if courses}}
            <thead>
                <tr>
                    <th scope="col">   
                        <div class="input-group mb-3">
                            <div >
                                <div class="check-box mb-1 ml-4">
                                    <input class="form-check-input btn-check" type="checkbox" value="" id="checkbox-all">
                                </div>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        ID
                        {{{sortable '_id' _sort}}}
                    </th>
                    <th scope="col">
                        Tên khóa học
                        {{{sortable 'name' _sort}}}
                        
                    </th>
                    <th scope="col">
                        Trình độ         
                        {{{sortable 'level' _sort}}}
                    </th>
                    <th scope="col">
                        Thời gian xóa
                        {{{sortable 'deletedAt' _sort}}}
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input btn-check" type="checkbox" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </td>
                     <!--  <th scope="row">{{sum @index 1}}</th> sum(@index, 1) hàm đã định nghĩa ở phần mở rộng helpers -->
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <span style="padding: 0 15px"></span>
                        <a href="" data-toggle="modal" data-target="#delete-course-Modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
                    </td>               
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                        <a href="/me/stored/courses">Danh sách khóa học!</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- confirm delete --}}
<div id="delete-course-Modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khóa Học ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa Vĩnh Viễn</button>
      </div>
    </div>
  </div>
</div>

{{!--  hidden form --}}
<form method="post" name="delete-course-form"></form>
<form method="post" name="restore-course-form"></form>

<script>  

    //khi trang load xong thì hàm này mới chạy, tránh lỗi thiếu thư viện jquery
    document.addEventListener("DOMContentLoaded", function() {  
        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var containerForm = $('form[name = "container-form"]');
        var btnDelete = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name = "courseIds[]"]');
        var btn_action = $('.btn-acction')

        //khi ấn nút xóa
        $('#delete-course-Modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        })

        btnDelete.onclick = function(){
            deleteForm.action='/courses/' + courseID + '/force?_method=delete';
            deleteForm.submit();
        }
        //khi ấn nút khôi phục 
        $('.btn-restore').click(function(e) {
            e.preventDefault();
            var id = $(this).data('id');     
            restoreForm.action='/courses/' + id + '/restore?_method=patch';
            restoreForm.submit();
        });

         //checkbox-all được click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);   
            renderCheckAllSubmitBtn()
        })
        //courseItemCheckbox changed
        courseItemCheckbox.change(function () {
            var isChecked = courseItemCheckbox.length === $('input[name = "courseIds[]"]:checked').length;
            renderCheckAllSubmitBtn()
            checkboxAll.prop('checked', isChecked);   
        })
        // vô hiệu button action khi không có checkbox nào được chọn
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name = "courseIds[]"]:checked').length;
            if(checkedCount > 0){
                btn_action.attr('disabled', false);
            } else {
                btn_action.attr('disabled', true);
            }
        }
    }) 
</script>